* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Circular Std Book', 'sans-serif';
}


/* Styling for Card */
.card-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  overflow-x: auto;
  gap: 20px;
}
